<!--<!DOCTYPE html>
<html>

<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login"> Login form </div>
            <div class="title login"> signup form </div>

        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slider" id="login" checked>
                <input type="radio" name="slider" id="signup" checked>
                <label for="login" class="slide login"> Login </label>
                <label for="signup" class="slide signup"> signup </label>
                <div class="slide-tab"></div>

            </div>
            <div class="form-inner">
                <form #loginRef="ngForm" (click)="loginPage(loginRef.value)">
                    <div class="field">
                        <input type="text" placeholder="Email address" required>
                    </div>

                    <div class="field">
                        <input type="password" placeholder="Password" required>
                    </div>

                    <div class="pass-link"><a href="#">Forgot password?</a>
                    </div>

                    <div class="field">
                        <input type="submit" value="Login">
                    </div>

                    <div class="signup-link">Not a member? <a href="#">Signup now</a>
                    </div>
                    <div>
                        {{Msg}}
                    </div>

                </form>
                <form #signupRef="ngForm" (click)="singupPage(signupRef.value)">
                    <div class="field">
                        <input type="text" placeholder="Full Name" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Email address" required>
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Employee Id" required>
                    </div>

                    <div class="field">
                        <input type="password" placeholder="Password" required>
                    </div>

                    <div class="field">
                        <input type="password" placeholder="Confirm Password" required>
                    </div>

                    <div class="field">
                        <input type="submit" value="signup">
                    </div>



                </form>
            </div>
        </div>
    </div>
</body>

</html> -->